<h3>Let's make a new lesson</h3>
<%= form_for @lesson do |f| %>
  <%= f.text_field :title, placeholder: "Title of your lesson" %>
  <%= f.text_field :github_url, placeholder: "URL to the lesson notes on github" %>
  <%= f.submit %>
<% end %>
