/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize
 *= require skeleton
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700|Cutive+Mono);

$primary-dark: red;
$primary-light: #fafafa;

$secondary-dark: red;
$secondary-light: white;

$error-bg: lighten(green, 60%);
$error-fg: black;

$link: #996699;
$link-hover: black;

$button: lighten(#006699, 10%);
$button-hover: $primary-light;

html {
  background: $primary-light;
  font-size: 1vw;
  font-family: 'Raleway', sans-serif;

  @media (max-width: 550px) {
    font-size: 5.5px;
  }
}

body {
  padding-bottom: 3rem;
}

.logo i.fa {
  color: white;
}

button {
  height: auto;
  padding: 1rem;

  font-size: 1rem;
  line-height: 1rem;

  transition: border 0.5s ease, color 0.5s ease;

  color: black;
  border: 2px solid black;

  background: $button;

  &:hover {
    color: white;
    border: 2px solid white;
  }
}

.notify {
  background: white;
}

.error {
  margin: 0 0 1rem;
  border: 1px solid $primary-dark;

  padding: 0.5rem 1rem;

  background: $error-bg;
  color: $error-fg;
}

a {
  transition: color 0.4s ease, background 0.4s ease;

  text-decoration: none;

  color: $link;
  font-weight: 700;

  &:hover {
    color: $link-hover;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.parenthetical {
  margin-left: 1rem;
  font-size: 0.6em;
}

.navbar {
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  background: $primary-dark;

  .logo {
    font-size: 4rem;
    line-height: 6rem;
  }

  .navbar-list {
    margin-right: -2rem;

    li {
      margin: 0;
      padding: 0;

      a {
        display: block;
        text-decoration: none;

        color: white;
        &:hover {
          color: black;
        }

        padding: 1rem 2rem;
        font-size: 3rem;
        line-height: 4rem;
      }
    }
  }
}

.choice {
  border: 1px solid black;
  margin-bottom: 0.5rem;

  padding: 1rem;
  transition: background 0.3s linear;

  position: relative;
  transition: all 0.4s ease;

  &.correct {
    background: $primary-dark;
    color: $primary-light;
  }

  &.incorrect {
    background: $primary-light;
  }

  &:hover {
    cursor: pointer;
    background: $primary-dark;

    transform-origin: center center center;
    transform: scale(1.05);
  }
}

.poll {
  padding: 1rem;
  transition: background 0.5s ease;

  &.active {
    background: #888;
    .clickable {
      color: white;
    }
  }

  &.inactive {
    background: #eee;
  }
}

.lessons {
  .lesson + .lesson {
    margin-top: 1rem;
    border-top: 3px solid red;
  }

  h4, h5, p {
    margin: 0.5rem 0;
  }

  h4, h5 {
    font-weight: 400;
  }
  .clickable {
    color: $link;
    transition: color 0.5s ease;

    &:hover {
      color: $link-hover;
      cursor: pointer;
    }
  }
}

.title {
  border-bottom: 1px solid grey;
}

form {
  input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  textarea {
    font-family: 'Cutive Mono', monospace;
    resize: none;

    &.poll-question {
      height: 8em;
    }

    &.poll-choice {
      height: 3em;
    }
  }

  margin-bottom: 1rem;
}

.pending-poll {
  display: none;

  &:first-of-type {
    display: block;
  }

  h5 {
    color: $primary-dark;
    font-weight: 400;
    border-bottom: 1px solid $primary-dark;
  }

  .choice:hover {
    background: $primary-dark;
  }
}

.vote-count {
  margin-left: 3rem;
  font-size: 1.2rem;
}

.modal {
  position: absolute;
  width: 60vw;

  top: 10vh;
  left: 20vw;

  border: 2px solid black;
  /* box-shadow: 0 2px 2px 3px black; */

  padding: 1rem;

  background: $primary-light;
  display: none;

  &.active {
    display: block;
  }
}

#page-wrap {
  transition: all 0.5s linear;
  &.modal-active {
    -webkit-filter: blur(5px) grayscale(20%);
    transform: scale(0.96);
  }
}
