<h3>Instructor?</h3>
<p>
  If so, please authenticate with <a href="/auth/google">Google+</a>.
</p>

<h3>Student?</h3>
<p>
  If so, please wait for a link from your instructor for today's lesson.
</p>
