<!DOCTYPE html>
<html ng-app='lessonApp'>
  <head>
    <title>ThoughtDoc</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
    <style>
      .pending-poll-choice {
        position: relative;
        transition: all 0.4s ease;
      }
      .pending-poll-choice.correct {
        transform-origin: center center center;
        transform: scale(1.05);
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <div class="container u-cf">
        <div class="logo u-pull-left">
          Thought <i class="fa fa-stethoscope"></i> Doc
        </div>
      </div>
    </nav>
    <div class="container"
      ng-controller="LessonController as lc">
      <div class="error" ng-show="lc.error">
        {{ lc.error }}
      </div>
      <div class="lesson">
        <h3 class="title">
          {{ lc.lesson.title }}
        </h3>
        <p>
          Lesson can be viewed
          <a ng-href="{{ lc.lesson.githubUrl }}"
            target="_blank">
            here
          </a>
        </p>
      </div>
      <div class="polls">
        <div class="pending-poll"
          ng-repeat="poll in lc.pendingPolls">
          <h5>The Question</h5>
          <div class="markdown"
            ng-bind-html="poll.question | unsafe">
          </div>
          <h5>The Choices</h5>
          <div class="pending-poll-choice"
            ng-class="{ correct: choice.hover }"
            ng-repeat="choice in poll.choices"
            ng-click="lc.assert(poll, choice)"
            ng-mouseenter="choice.hover = true"
            ng-mouseleave="choice.hover = false">
            <div ng-bind-html="choice.content | unsafe">
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'lesson' %>
  </body>
</html>
